@import url("https://rsms.me/inter/inter.css");
*,
:after,
:before {
  border: 0 solid;
  box-sizing: border-box;
}
:after,
:before {
  --tw-content: "";
}
html {
  -webkit-text-size-adjust: 100%;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
body {
  line-height: inherit;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
b,
strong {
  font-weight: bolder;
}
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}
:-moz-focusring {
  outline: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
dl,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
[role="button"] {
  cursor: pointer;
}
:disabled {
  cursor: default;
}

[type="checkbox"]:indeterminate {
  background-color: currentColor;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-color: transparent;
}
[type="checkbox"]:indeterminate:focus,
[type="checkbox"]:indeterminate:hover {
  background-color: currentColor;
  border-color: transparent;
}
[type="file"] {
  background: unset;
  border-color: inherit;
  border-radius: 0;
  border-width: 0;
  font-size: unset;
  line-height: inherit;
  padding: 0;
}
[type="file"]:focus {
  outline: 1px auto -webkit-focus-ring-color;
}
*,
:after,
:before {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-transform: translateX(var(--tw-translate-x))
    translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
  --tw-border-opacity: 1;
  --tw-ring-inset: var(--tw-empty);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-backdrop-blur: var(--tw-empty);
  --tw-backdrop-brightness: var(--tw-empty);
  --tw-backdrop-contrast: var(--tw-empty);
  --tw-backdrop-grayscale: var(--tw-empty);
  --tw-backdrop-hue-rotate: var(--tw-empty);
  --tw-backdrop-invert: var(--tw-empty);
  --tw-backdrop-opacity: var(--tw-empty);
  --tw-backdrop-saturate: var(--tw-empty);
  --tw-backdrop-sepia: var(--tw-empty);
  --tw-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.a {
  width: 100%;
}
@media (min-width: 640px) {
  .a {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .a {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .a {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .a {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .a {
    max-width: 1536px;
  }
}
.b {
  color: var(--tw-prose-body);
  max-width: 65ch;
}
.b :where([class~="lead"]):not(:where([class~="not-prose"]*)) {
  color: var(--tw-prose-lead);
  font-size: 1.25em;
  line-height: 1.6;
  margin-bottom: 1.2em;
  margin-top: 1.2em;
}
.b :where(a):not(:where([class~="not-prose"]*)) {
  color: var(--tw-prose-links);
  font-weight: 500;
  text-decoration: underline;
}
.b :where(strong):not(:where([class~="not-prose"]*)) {
  color: var(--tw-prose-bold);
  font-weight: 600;
}
.b :where(ol):not(:where([class~="not-prose"]*)) {
  list-style-type: decimal;
  padding-left: 1.625em;
}
.b :where(ol[type="A"]):not(:where([class~="not-prose"]*)) {
  list-style-type: upper-alpha;
}
.b :where(ol[type="a"]):not(:where([class~="not-prose"]*)) {
  list-style-type: lower-alpha;
}
.b :where(ol[type="As"]):not(:where([class~="not-prose"]*)) {
  list-style-type: upper-alpha;
}
.b :where(ol[type="as"]):not(:where([class~="not-prose"]*)) {
  list-style-type: lower-alpha;
}
.b :where(ol[type="I"]):not(:where([class~="not-prose"]*)) {
  list-style-type: upper-roman;
}
.b :where(ol[type="i"]):not(:where([class~="not-prose"]*)) {
  list-style-type: lower-roman;
}
.b :where(ol[type="Is"]):not(:where([class~="not-prose"]*)) {
  list-style-type: upper-roman;
}
.b :where(ol[type="is"]):not(:where([class~="not-prose"]*)) {
  list-style-type: lower-roman;
}
.b :where(ol[type="1"]):not(:where([class~="not-prose"]*)) {
  list-style-type: decimal;
}
.b :where(ul):not(:where([class~="not-prose"]*)) {
  list-style-type: disc;
  padding-left: 1.625em;
}
.b :where(ol > li):not(:where([class~="not-prose"]*))::marker {
  color: var(--tw-prose-counters);
  font-weight: 400;
}
.b :where(ul > li):not(:where([class~="not-prose"]*))::marker {
  color: var(--tw-prose-bullets);
}
.b :where(hr):not(:where([class~="not-prose"]*)) {
  border-color: var(--tw-prose-hr);
  border-top-width: 1px;
  margin-bottom: 3em;
  margin-top: 3em;
}
.b :where(blockquote):not(:where([class~="not-prose"]*)) {
  border-left-color: var(--tw-prose-quote-borders);
  border-left-width: 0.25rem;
  color: var(--tw-prose-quotes);
  font-style: italic;
  font-weight: 500;
  margin-bottom: 1.6em;
  margin-top: 1.6em;
  padding-left: 1em;
  quotes: "\201C""\201D""\2018""\2019";
}
.b :where(blockquotep:first-of-type):not(:where([class~="not-prose"]*)):before {
  content: open-quote;
}
.b :where(blockquotep:last-of-type):not(:where([class~="not-prose"]*)):after {
  content: close-quote;
}
.b :where(h1):not(:where([class~="not-prose"]*)) {
  color: var(--tw-prose-headings);
  font-size: 2.25em;
  font-weight: 800;
  line-height: 1.1111111;
  margin-bottom: 0.8888889em;
  margin-top: 0;
}
.b :where(h1strong):not(:where([class~="not-prose"]*)) {
  font-weight: 900;
}
.b :where(h2):not(:where([class~="not-prose"]*)) {
  color: var(--tw-prose-headings);
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.3333333;
  margin-bottom: 1em;
  margin-top: 2em;
}
.b :where(h2strong):not(:where([class~="not-prose"]*)) {
  font-weight: 800;
}
.b :where(h3):not(:where([class~="not-prose"]*)) {
  color: var(--tw-prose-headings);
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 0.6em;
  margin-top: 1.6em;
}
.b :where(h3strong):not(:where([class~="not-prose"]*)) {
  font-weight: 700;
}
.b :where(h4):not(:where([class~="not-prose"]*)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}
.b :where(h4strong):not(:where([class~="not-prose"]*)) {
  font-weight: 700;
}
.b :where(figure > *):not(:where([class~="not-prose"]*)) {
  margin-bottom: 0;
  margin-top: 0;
}
.b :where(figcaption):not(:where([class~="not-prose"]*)) {
  color: var(--tw-prose-captions);
  font-size: 0.875em;
  line-height: 1.4285714;
  margin-top: 0.8571429em;
}
.b :where(code):not(:where([class~="not-prose"]*)) {
  color: var(--tw-prose-code);
  font-size: 0.875em;
  font-weight: 600;
}
.b :where(code):not(:where([class~="not-prose"]*)):before {
  content: "`";
}
.b :where(code):not(:where([class~="not-prose"]*)):after {
  content: "`";
}
.b :where(pre):not(:where([class~="not-prose"]*)) {
  background-color: var(--tw-prose-pre-bg);
  border-radius: 0.375rem;
  color: var(--tw-prose-pre-code);
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.7142857;
  margin-bottom: 1.7142857em;
  margin-top: 1.7142857em;
  overflow-x: auto;
  padding: 0.8571429em 1.1428571em;
}
.b :where(table):not(:where([class~="not-prose"]*)) {
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-bottom: 2em;
  margin-top: 2em;
  table-layout: auto;
  text-align: left;
  width: 100%;
}
.b :where(thead):not(:where([class~="not-prose"]*)) {
  border-bottom-color: var(--tw-prose-th-borders);
  border-bottom-width: 1px;
}
.b :where(theadth):not(:where([class~="not-prose"]*)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
  padding-right: 0.5714286em;
  vertical-align: bottom;
}
.b :where(tbodytd):not(:where([class~="not-prose"]*)) {
  padding: 0.5714286em;
  vertical-align: baseline;
}
.b {
  --tw-prose-body: #374151;
  --tw-prose-headings: #111827;
  --tw-prose-lead: #4b5563;
  --tw-prose-links: #111827;
  --tw-prose-bold: #111827;
  --tw-prose-counters: #6b7280;
  --tw-prose-bullets: #d1d5db;
  --tw-prose-hr: #e5e7eb;
  --tw-prose-quotes: #111827;
  --tw-prose-quote-borders: #e5e7eb;
  --tw-prose-captions: #6b7280;
  --tw-prose-code: #111827;
  --tw-prose-pre-code: #e5e7eb;
  --tw-prose-pre-bg: #1f2937;
  --tw-prose-th-borders: #d1d5db;
  --tw-prose-td-borders: #e5e7eb;
  --tw-prose-invert-body: #d1d5db;
  --tw-prose-invert-headings: #fff;
  --tw-prose-invert-lead: #9ca3af;
  --tw-prose-invert-links: #fff;
  --tw-prose-invert-bold: #fff;
  --tw-prose-invert-counters: #9ca3af;
  --tw-prose-invert-bullets: #4b5563;
  --tw-prose-invert-hr: #374151;
  --tw-prose-invert-quotes: #f3f4f6;
  --tw-prose-invert-quote-borders: #374151;
  --tw-prose-invert-captions: #9ca3af;
  --tw-prose-invert-code: #fff;
  --tw-prose-invert-pre-code: #d1d5db;
  --tw-prose-invert-pre-bg: rgba(0, 0, 0, 0.5);
  --tw-prose-invert-th-borders: #4b5563;
  --tw-prose-invert-td-borders: #374151;
  font-size: 1rem;
  line-height: 1.75;
}
.b :where(p):not(:where([class~="not-prose"]*)) {
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}
.b :where(img):not(:where([class~="not-prose"]*)) {
  margin-bottom: 2em;
  margin-top: 2em;
}
.b :where(video):not(:where([class~="not-prose"]*)) {
  margin-bottom: 2em;
  margin-top: 2em;
}
.b :where(figure):not(:where([class~="not-prose"]*)) {
  margin-bottom: 2em;
  margin-top: 2em;
}
.b :where(li):not(:where([class~="not-prose"]*)) {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.b :where(ol > li):not(:where([class~="not-prose"]*)) {
  padding-left: 0.375em;
}
.b :where(ul > li):not(:where([class~="not-prose"]*)) {
  padding-left: 0.375em;
}
.b > :where(ul > li > :first-child):not(:where([class~="not-prose"]*)) {
  margin-top: 1.25em;
}
.b > :where(ul > li > :last-child):not(:where([class~="not-prose"]*)) {
  margin-bottom: 1.25em;
}
.b > :where(ol > li > :first-child):not(:where([class~="not-prose"]*)) {
  margin-top: 1.25em;
}
.b > :where(ol > li > :last-child):not(:where([class~="not-prose"]*)) {
  margin-bottom: 1.25em;
}
.b :where(hr + *):not(:where([class~="not-prose"]*)) {
  margin-top: 0;
}
.b :where(h2 + *):not(:where([class~="not-prose"]*)) {
  margin-top: 0;
}
.b :where(h3 + *):not(:where([class~="not-prose"]*)) {
  margin-top: 0;
}
.b :where(h4 + *):not(:where([class~="not-prose"]*)) {
  margin-top: 0;
}
.b :where(theadth:first-child):not(:where([class~="not-prose"]*)) {
  padding-left: 0;
}
.b :where(theadth:last-child):not(:where([class~="not-prose"]*)) {
  padding-right: 0;
}
.b :where(tbodytd:first-child):not(:where([class~="not-prose"]*)) {
  padding-left: 0;
}
.b :where(tbodytd:last-child):not(:where([class~="not-prose"]*)) {
  padding-right: 0;
}
.b > :where(:first-child):not(:where([class~="not-prose"]*)) {
  margin-top: 0;
}
.b > :where(:last-child):not(:where([class~="not-prose"]*)) {
  margin-bottom: 0;
}
.c {
  font-size: 1.125rem;
  line-height: 1.7777778;
}
.c :where(p):not(:where([class~="not-prose"]*)) {
  margin-bottom: 1.3333333em;
  margin-top: 1.3333333em;
}
.c :where([class~="lead"]):not(:where([class~="not-prose"]*)) {
  font-size: 1.2222222em;
  line-height: 1.4545455;
  margin-bottom: 1.0909091em;
  margin-top: 1.0909091em;
}
.c :where(blockquote):not(:where([class~="not-prose"]*)) {
  margin-bottom: 1.6666667em;
  margin-top: 1.6666667em;
  padding-left: 1em;
}
.c :where(h1):not(:where([class~="not-prose"]*)) {
  font-size: 2.6666667em;
  line-height: 1;
  margin-bottom: 0.8333333em;
  margin-top: 0;
}
.c :where(h2):not(:where([class~="not-prose"]*)) {
  font-size: 1.6666667em;
  line-height: 1.3333333;
  margin-bottom: 1.0666667em;
  margin-top: 1.8666667em;
}
.c :where(h3):not(:where([class~="not-prose"]*)) {
  font-size: 1.3333333em;
  line-height: 1.5;
  margin-bottom: 0.6666667em;
  margin-top: 1.6666667em;
}
.c :where(h4):not(:where([class~="not-prose"]*)) {
  line-height: 1.5555556;
  margin-bottom: 0.4444444em;
  margin-top: 1.7777778em;
}
.c :where(img):not(:where([class~="not-prose"]*)) {
  margin-bottom: 1.7777778em;
  margin-top: 1.7777778em;
}
.c :where(video):not(:where([class~="not-prose"]*)) {
  margin-bottom: 1.7777778em;
  margin-top: 1.7777778em;
}
.c :where(figure):not(:where([class~="not-prose"]*)) {
  margin-bottom: 1.7777778em;
  margin-top: 1.7777778em;
}
.c :where(figure > *):not(:where([class~="not-prose"]*)) {
  margin-bottom: 0;
  margin-top: 0;
}
.c :where(figcaption):not(:where([class~="not-prose"]*)) {
  font-size: 0.8888889em;
  line-height: 1.5;
  margin-top: 1em;
}
.c :where(code):not(:where([class~="not-prose"]*)) {
  font-size: 0.8888889em;
}
.c :where(pre):not(:where([class~="not-prose"]*)) {
  border-radius: 0.375rem;
  font-size: 0.8888889em;
  line-height: 1.75;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 1em 1.5em;
}
.c :where(ol):not(:where([class~="not-prose"]*)) {
  padding-left: 1.5555556em;
}
.c :where(ul):not(:where([class~="not-prose"]*)) {
  padding-left: 1.5555556em;
}
.c :where(li):not(:where([class~="not-prose"]*)) {
  margin-bottom: 0.6666667em;
  margin-top: 0.6666667em;
}
.c :where(ol > li):not(:where([class~="not-prose"]*)) {
  padding-left: 0.4444444em;
}
.c :where(ul > li):not(:where([class~="not-prose"]*)) {
  padding-left: 0.4444444em;
}
.c > :where(ul > li > :first-child):not(:where([class~="not-prose"]*)) {
  margin-top: 1.3333333em;
}
.c > :where(ul > li > :last-child):not(:where([class~="not-prose"]*)) {
  margin-bottom: 1.3333333em;
}
.c > :where(ol > li > :first-child):not(:where([class~="not-prose"]*)) {
  margin-top: 1.3333333em;
}
.c > :where(ol > li > :last-child):not(:where([class~="not-prose"]*)) {
  margin-bottom: 1.3333333em;
}
.c :where(hr):not(:where([class~="not-prose"]*)) {
  margin-bottom: 3.1111111em;
  margin-top: 3.1111111em;
}
.c :where(hr + *):not(:where([class~="not-prose"]*)) {
  margin-top: 0;
}
.c :where(h2 + *):not(:where([class~="not-prose"]*)) {
  margin-top: 0;
}
.c :where(h3 + *):not(:where([class~="not-prose"]*)) {
  margin-top: 0;
}
.c :where(h4 + *):not(:where([class~="not-prose"]*)) {
  margin-top: 0;
}
.c :where(table):not(:where([class~="not-prose"]*)) {
  font-size: 0.8888889em;
  line-height: 1.5;
}
.c :where(theadth):not(:where([class~="not-prose"]*)) {
  padding-bottom: 0.75em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.c :where(theadth:first-child):not(:where([class~="not-prose"]*)) {
  padding-left: 0;
}
.c :where(theadth:last-child):not(:where([class~="not-prose"]*)) {
  padding-right: 0;
}
.c :where(tbodytd):not(:where([class~="not-prose"]*)) {
  padding: 0.75em;
}
.c :where(tbodytd:first-child):not(:where([class~="not-prose"]*)) {
  padding-left: 0;
}
.c :where(tbodytd:last-child):not(:where([class~="not-prose"]*)) {
  padding-right: 0;
}
.c > :where(:first-child):not(:where([class~="not-prose"]*)) {
  margin-top: 0;
}
.c > :where(:last-child):not(:where([class~="not-prose"]*)) {
  margin-bottom: 0;
}
.d {
  --tw-prose-links: #2563eb;
  --tw-prose-invert-links: #3b82f6;
}
.e {
  --tw-prose-links: #4f46e5;
  --tw-prose-invert-links: #6366f1;
}
.f {
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.g {
  position: absolute;
}
.h {
  position: relative;
}
.i {
  bottom: 0;
  top: 0;
}
.j {
  left: 0;
}
.k {
  z-index: 0;
}
.l {
  z-index: 10;
}
.m {
  margin: -1rem;
}
.n {
  margin-left: auto;
  margin-right: auto;
}
.o {
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.p {
  margin-left: -1rem;
  margin-right: -1rem;
}
.q {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.r {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.s {
  margin-bottom: 2rem;
}
.t {
  margin-top: 1.5rem;
}
.u {
  margin-left: 0.75rem;
}
.v {
  margin-top: 2rem;
}
.w {
  margin-right: 0.5rem;
}
.x {
  margin-top: 6rem;
}
.y {
  margin-top: 3rem;
}
.z {
  margin-top: 0.75rem;
}
.bb {
  margin-bottom: 2.5rem;
}
.cb {
  margin-bottom: 5rem;
}
.db {
  margin-bottom: 1.5rem;
}
.eb {
  margin-top: -1rem;
}
.fb {
  margin-bottom: -2.5rem;
}
.gb {
  margin-bottom: 1rem;
}
.hb {
  margin-left: 1rem;
}
.ib {
  margin-bottom: 3rem;
}
.jb {
  margin-bottom: 0.5rem;
}
.kb {
  margin-top: 2rem;
}
.nb {
  display: flex;
}
.ob {
  display: inline-flex;
}
.pb {
  display: grid;
}
.qb {
  display: none;
}
.tb {
  height: 100vh;
}
.ub {
  height: 2.2rem;
}
.vb {
  height: 1.5rem;
}
.wb {
  height: 2.25rem;
}
.xb {
  height: 2rem;
}
.yb {
  height: auto;
}
.ec {
  width: 100%;
}
.fc {
  width: 4rem;
}
.gc {
  width: 1.5rem;
}
.hc {
  width: 2rem;
}
.jc {
  min-width: 0;
}
.kc {
  max-width: 80rem;
}
.mc {
  max-width: 32rem;
}
.oc {
  flex-shrink: 0;
}
.pc {
  flex-grow: 1;
}
.rc {
  transform: var(--tw-transform);
}
.tc {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.uc {
  flex-direction: row;
}
.vc {
  flex-direction: column;
}
.wc {
  flex-wrap: wrap;
}
.xc {
  align-items: flex-start;
}
.zc {
  align-items: center;
}
.bd {
  justify-content: center;
}
.cd {
  justify-content: space-between;
}
.id > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
  margin-top: calc(1.5rem * (1 - var(--tw-space-y-reverse)));
}
.jd > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
  margin-top: calc(1rem * (1 - var(--tw-space-y-reverse)));
}
.kd > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-left: calc(1.5rem * (1 - var(--tw-space-x-reverse)));
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
}
.md {
  overflow: hidden;
}
.nd {
  scroll-behavior: smooth;
}
.od {
  border-radius: 9999px;
}
.pd {
  border-radius: 0.25rem;
}
.qd {
  border-radius: 0.5rem;
}
.sd {
  border-radius: 1.5rem;
}
.vd {
  border-width: 1px;
}
.wd {
  border-width: 2px;
}
.xd {
  border-bottom-width: 1px;
}
.zd {
  --tw-border-opacity: 1;
  border-color: rgb(22 23 27 / var(--tw-border-opacity));
}
.ae {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.be {
  --tw-bg-opacity: 1;
  background-color: rgb(255 235 205 / var(--tw-bg-opacity));
}
.ce {
  --tw-bg-opacity: 1;
  background-color: rgb(22 23 27 / var(--tw-bg-opacity));
}
.he {
  background-image: url("/images/1.webp");
  background-position: center;
  background-size: 200%;
}
.ie {
  background-image: url("/images/2.webp");
}
.je {
  background-size: cover;
}
.le {
  background-position: 50%;
}
.me {
  background-repeat: no-repeat;
}
.ne {
  -o-object-fit: cover;
  object-fit: cover;
}
.oe {
  -o-object-position: center;
  object-position: center;
}
.qe {
  padding: 1rem;
}
.re {
  padding: 2.5rem;
}
.se {
  padding: 1.5rem;
}
.ue {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.ve {
  padding-bottom: 6rem;
  padding-top: 6rem;
}
.af {
  padding-bottom: 4rem;
  padding-top: 4rem;
}
.bf {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cf {
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.df {
  padding-bottom: 8rem;
  padding-top: 8rem;
}
.gf {
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}
.hf {
  padding-left: 2rem;
  padding-right: 2rem;
}
.if {
  padding-top: 6rem;
}
.kf {
  padding-left: 1.5rem;
}
.lf {
  padding-top: 8rem;
}
.mf {
  padding-top: 5rem;
}
.nf {
  padding-bottom: 2.5rem;
}
.of {
  padding-left: 1rem;
}
.pf {
  padding-bottom: 6rem;
}
.wf {
  text-align: left;
}
.xf {
  text-align: center;
}
.yf {
  font-family: Playfair Display, serif;
}
.zf {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.ag {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.bg {
  padding: 0.2em 0 0.4em 0;
  font-size: 3.05rem;
  line-height: 1rem;
}
.cg {
  font-size: 1.125rem;
}
.cg {
  line-height: 1.75rem;
}
.fg {
  font-size: 1.5rem;
  line-height: 2rem;
}
.jg {
  font-weight: 700;
}
.lg {
  font-weight: 600;
}
.mg {
  font-weight: 300;
}
.og {
  text-transform: uppercase;
}
.sg {
  line-height: 1.375;
}
.tg {
  line-height: 1.625;
}
.wg {
  letter-spacing: -0.05em;
}
.xg {
  letter-spacing: 0.1em;
}
.yg {
  --tw-text-opacity: 1;
  color: rgb(22 23 27 / var(--tw-text-opacity));
}
.zg {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}
.bh {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.ch {
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
}
.dh {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.fh {
  --tw-text-opacity: 0.8;
}
.mh {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.mh {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
}
.qh {
  --tw-ring-offset-color: currentColor;
}
.th {
  transition-duration: 0.15s;
  transition-property: color, background-color, border-color, fill, stroke,
    opacity, box-shadow, transform, filter, -webkit-text-decoration-color,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.uh {
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.vh {
  transition-duration: 0.5s;
}
.xh {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.yh:hover {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}
.ai:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity));
}
.bi:hover {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}
.ci:hover {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity));
}
.hi:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.ii:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}
.li:focus {
  --tw-ring-offset-width: 2px;
}
.ni:hover .oi {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity));
}
@media (min-width: 640px) {
  .ti {
    margin: -1rem;
  }
  .ui {
    margin-top: 0;
  }
  .yi {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 768px) {
  .zi {
    order: 9999;
  }
  .aj {
    order: 1;
  }
  .cj {
    margin-bottom: 0;
  }
  .dj {
    margin-top: 11rem;
  }
  .ej {
    margin-top: 0;
  }
  .fj {
    margin-bottom: 0.5rem;
  }
  .gj {
    display: flex;
  }
  .ij {
    width: 33.333333%;
  }
  .jj {
    flex-direction: row;
  }
  .lj {
    align-items: center;
  }
  .mj {
    justify-content: space-between;
  }
  .nj > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
    margin-top: calc(0px * (1 - var(--tw-space-y-reverse)));
  }
  .oj {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .uj {
    font-size: 6rem;
    line-height: 1;
  }
}
@media (min-width: 1024px) {
  .xj {
    margin-top: -11rem;
  }
  .yj {
    margin-bottom: 0;
  }
  .bk {
    display: block;
  }
  .gk {
    width: 33.333333%;
  }
  .kk {
    max-width: 80rem;
  }
  .mk {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .ok {
    flex-direction: row;
  }
  .qk {
    align-items: center;
  }
  .rk {
    justify-content: flex-start;
  }
  .tk {
    justify-content: center;
  }
  .uk {
    justify-content: space-between;
  }
  .cl {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .dl {
    padding-bottom: 6rem;
    padding-top: 6rem;
  }
  .el {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .fl {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .gl {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .il {
    text-align: left;
  }
  .jl {
    text-align: center;
  }
  .kl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .ll {
    font-size: 3.75rem;
    line-height: 1;
  }
}
